<%- include("partials/header"); -%>

<div class="TSFBANK">
	<div class="container">
		<div class="TSFBANK-inner">
			<div class="TSFBANK-left">
               <h2>WELCOME TO AXIS BANK</h2>
			   <br>
               <a href="/customers">
				<br>

               <button type="button" class="btn start-btn">GET STARTED</button></a>
			</div>
			<div class="TSFBANK-right">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000">
					  <div class="carousel-inner">
						<!-- <br>
						<br> -->
					    <div class="carousel-item active">
					      <img id="img1" class="d-block w-100" src="../images/bank1.png" alt="First slide">
					    </div>
					    <div class="carousel-item">
					      <img id="img2" class="d-block w-100" src="../images/bank2.png" alt="Second slide">
					    </div>
						<div class="carousel-item ">
							<img id="img3" class="d-block w-100" src="../images/bank3.jpg" alt="Third slide">
						  </div>
					    
					  </div>
					
               </div>

			   
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="features">
	<div class="container">
		<div class="features-inner">
		<div class="features-inner-one">
			<i class="fas fa-rupee-sign"></i>
			<div>
                <h5>Do Banking in just one click</h5>
			    <p>Money transfer is very easy now days</p>
            </div>
		</div>
		<div class="features-inner-one">
			<i class="fas fa-search-dollar"></i>
			<div>
                <h5>Full Safety & Security</h5>
			    <p>We provide Best and secure networks to your work</p>
            </div>
		</div>
		<div class="features-inner-one">
			<i class="fas fa-heart"></i>
            <div>
                <h5>Guranteed to work</h5>
			    <p>Transfer money with to friends and family with ease</p>
            </div>
		</div>
		</div>
	</div>
	
</div>
<div class="profile">
		<div class="container">
			<div class="profile-inner">

				<h3>Money never declines. Money just moves.</h3>
				
				
			</div>
		</div>
	</div>

<%- include("partials/footer"); -%>