<!DOCTYPE html>
<html>
<head>
<title>Banking system</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

</head>
<body>
<header>
	

	<nav class="navbar navbar-expand-lg">
		
           
		
		
		
	  <div class="container-fluid">
		<a href="/"><img id="imglogo" src="/images/banklogo.png"></a>
			<!-- <a class="nav-brand"  href="/"  >TFB</a> -->
		  <button id="bt" class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<strong><h4>Menu</h4></strong>	<span class="navbar-toggler-icon"></span>
		  </button>
	     	  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
			
		         <ul  class="navbar-nav ml-auto ">
			       <h4><li class="menu" color="#000000" class="nav-item"><a class="nav-link"  href="/">Home</a></li></h4>
			       <h4><li class="menu" color="#000000" class="nav-item"><a class="nav-link" href="/customers">Customers</a></li></h4>
			       <h4><li class="menu" color="#000000" class="nav-item"><a class="nav-link" href="/transferhistory">Transferhistory</a></li></h4>
		         </ul>
				
	 	     </div>
	  </div>
	</nav>

	  
	<!-- NAV-BAR  ends-->
</header>