*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	
	border: none;
	outline: none;
	color:#000;
	user-select: none;
    overflow: hidden;
	background-color: #1ebb72;
  	/* background-image: -webkit-linear-gradient(90deg,  #ffff99 50%,  #ffff99 50%); */
	  background-image: -webkit-radial-gradient(#1b58ca ,#18c6dd );
  	font-family: 'helvetica neue';
	height: 100%;
}
/* .logo h4 a{
	font-family: 'Philosopher', sans-serif;
	cursor: pointer;
}
.logo h4 span a{
	color:#0652DD;
}
.logo h4 span a img{
	height: 10%;
	width: 10%;
} */

#imglogo{
	margin:0;
	padding-top:0;
	width:20%;
	height:20%;
	border-radius: 100%;
}
.logo{
	padding-top: 0;
	margin-right: 0;
}
.logo a img{
	width:20%;
	height:20%;
}
h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0px;
	padding: 0px;
}
#img1{
	height:400px;
	width:200px;
}
#img2{
	height:400px;
	width:200px;
}
#img3{
	height:400px;
	width:200px;
}
img{
	border: none;
	padding-top: 50px;
}
a{
	text-decoration: none;

}
html{
	overflow-x: hidden;
}
.container{
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}


.top-nav{
	padding: 40px 90px;
	display: flex;
	justify-content: space-between;
}

.nav-brand{
	color:black;
	font-size: 2rem;
	
	

}
.nav-brand:hover{
	text-decoration: underline;
	color:blue;
	
	
	
}
.menu a{
	color:black;
	margin-left: 30px;
    vertical-align: middle;
	text-decoration: none;
	
    
}


.menu a:hover{
	text-decoration: underline;
	color:blue;
}
.TSFBANK-inner{
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
}
.TSFBANK-left{
	width: 50%;
	padding-top: 5%;

}
.TSFBANK-left h2{
	color:black;
}
.TSFBANK-left h6{
	color: black;
}

.TSFBANK-right{
	height:200px;
	width: 50%;
}

.start-btn{
	background-color: #efffb3;
}

.start-btn:hover{
	background-color: #c1b3ff;
	color:#000;
}

.features{
	padding-top:5%;
	padding-bottom:2%;
}
.features-inner{
	display: flex;
	justify-content: space-between;
	padding: 2%;
}
.features-inner-one{
	text-align: center;
	width: 30%;
	border:3px solid black;
	background-image: -webkit-linear-gradient(65deg, #2b9bdb  50%, #1e6fbb 50%);
	padding:2%;
}
.features-inner-one i{
	color: #ff4c68;
	font-size: 40px;
	padding-bottom: 3%;
}


.profile-inner{
	padding: 10% 0;
}
.profile-inner h3{
	text-align: center;
	font-family: 'Arvo', serif;
}
.profile-inner h3 span{
	color: #eb2a2a;
}

.nameof{
	margin-left: 61%;
	margin-top: 20px;
}
.footer{
	background-color:#2312bb;
}
.footer-inner{
	padding: 3%;
	color:#ffffff;
	text-align: center;
}



.Customers-table h1{
	text-align: center;
	color: #1e00a3;
	font-family: 'Oswald', sans-serif;
	padding:0 5% 5%;
	cursor: pointer;
	border-bottom: 1px  solid transparent;
	font-weight: 700;
	text-decoration: underline;
}
.Customers-table h1:hover{
    border-bottom: 1 px solid #0652DD;
}
.Customers-table{
	padding:20px 30px;
}
.Customers-table-inner{
	padding-bottom: 30px;
}
.row1{
	background-color: #165a35;
	color:#ffffff;
}
.d1:nth-child(even){
	background-color: #a1f09e;
	color:rgb(68, 66, 66);
}
.d1:nth-child(odd){
	background-color: #59e960;
	color:rgb(68, 66, 66);
}
#btview{
	margin-right:20px;
	color:#ffffff;
	background-color: #1e00a3;
}
#btview:hover{
	color:#e91d1d;
}

.customer-information-inner{
	padding: 0 20%;
}
.card-body{
	background-color: #0652DD;
	color:#ffffff;
}
.welcoming{
	font-family: 'Pacifico', cursive;
	color:#0652DD;
	text-align: center;
}
.card{
	width:50%;
	margin:0 auto;
	padding:0;
}
.customer-information{
	padding-bottom: 80px;
}
.card-body{
	text-align: center;

}

.card-img-top{
	padding-top:0;
}
.form-inner{
	width: 75%;
	background-color: #fca07c;
	color:#000000;
	padding: 5%;
	margin:2% auto 4%;
	border-radius: 2%;
	box-shadow: -6px 2px 11px -1px rgba(0,0,0,0.87);
}




